<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00438840 <!-- Project Title (Student ID)-->
    </ion-title>
    <ion-buttons slot="end">
    <ion-button name="Favourites"> <!--Favourites Icon button-->
      <ion-icon name="heart" style="color: red;" size="medium"></ion-icon>
    </ion-button>
    <ion-button (click)="goToSettings()"name="settings"> <!--Settings Icon button-->
      <ion-icon name="Settings" style="color: rgba(12, 12, 12, 0.74);" size="medium"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>