<app-header></app-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <p>
    Welcome to the Recipe Details page!
  </p>
  @if (recipe){
  <ion-card>
    <img [src]="recipe.image" />
  </ion-card>
  <h1>{{recipe.title}}</h1>
  <h3>Ingredients</h3>
  <ion-list>
    @for (ing of recipe.extendedIngredients; track $index){
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="'https://spoonacular.com/cdn/ingredients_100x100/' +ing.image"/>
      </ion-thumbnail>
      <ion-label>
        {{ing.name}}
      </ion-label>
      <ion-label>
       <!--{{ing.amount}} {{ing.unit}}--> 
        {{getDisplayAmount(ing)}}
      </ion-label>
    </ion-item>
    }
  </ion-list>
  <br> 
  <h3> Instructions</h3>
  <!--<div [innerHTML]="recipe.instructions" class="Instructions-text"></div> -->
    <ion-list lines="full"> 
      @for (step of recipe.analyzedInstructions[0]?.steps; track step.number){
      <ion-item>
        <ion-label>
            <h2>
              Step {{step.number}}. 
            </h2>
            {{ step.step}}
        </ion-label>
      </ion-item>
      }
    </ion-list>

  <ion-button name="Favourites" fill="outline" [color]="isFavourite ? 'danger' : 'primary'" (click)="toggleFavourite()" > <!--Favourites Icon button-->
    <ion-icon name="heart" slot="start" style="color: red;" size="large"
    [name]="isFavourite ? 'heart' : 'heart-outline'">
    </ion-icon>
    {{ isFavourite ? 'Remove from Favourites' : 'Add to Favourites'}}
  </ion-button>
  }
</ion-content>