<app-header></app-header>

<ion-content [fullscreen]="true">
  <p>
   HomePage
  </p>
  <br>
  <p>
    Enter Ingredients: 
  </p>
  <ion-searchbar
    placeholder="Enter an ingredient"
    (ionInput)="handleInput($event)"
    [debounce] ='500'> <!-- The search will commence .5 seconds after the user finishes typing-->
  </ion-searchbar>
  <ion-list>
    <!-- for every recipe, the below will be displayed.-->
    @for (recipe of recipes; track recipe.id){
      <ion-card>
      <ion-item>
        <ion-thumbnail slot="start" sizd="large">
          <img [src] ="recipe.image"/><!-- the recipe image is inserted here-->
        </ion-thumbnail>
        <ion-label>
          <h2>{{recipe.title}}</h2> <!-- the recipe title is inserted here-->
        </ion-label>
        <ion-button slot="end" (click)="viewDetails(recipe.id)">View Details</ion-button> <!-- the View Details button-->
      </ion-item>
      </ion-card>
    } 
  </ion-list>
</ion-content>
